In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
# Load the Excel file into a variable
transactions = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=1))
new_customers_list = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=2))
customer_demographic = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=3))
customer_address = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=4))

<ipython-input-79-6e689c35e69d>:3: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  new_customers_list = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=2))
<ipython-input-79-6e689c35e69d>:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  customer_demographic = pd.DataFrame(pd.read_excel("KPMG_VI_New_raw_data_update_final.xlsx", sheet_name=3))

Transactions

In [80]:
#transactions.info()

In [81]:
#transactions.head(5)

In [82]:
#transactions.describe()

In [83]:
#sns.pairplot(transactions)

## listing  and standar prices are perfectly correlated
## customer_id, product_line, product_class, product_size, list_price, standard_cost

New customer list

In [84]:
#new_customers_list.info()

In [85]:
#new_customers_list.describe()

In [86]:
#sns.pairplot(new_customers_list)

In [87]:
#new_customers_list.head()

## gender, past_3_years_bike_related_purchases, DOB, job_industry_category, wealth_segment, owns_car, tenure, address, postcode, state, country, property_valuation, Rank, Value

customer demographic

In [88]:
#customer_demographic.describe()

In [89]:
#customer_demographic.info()

In [90]:
#customer_demographic.head()

## gender, past_3_years_bike_related_purchases, DOB, job_industry_category, wealth_segment, owns_car, tenure, customer_id

customer_address

In [91]:
#customer_address.describe()

In [92]:
#customer_address.info()

In [93]:
#customer_address.head()

In [94]:
customer_address['country'].unique()

array(['Australia'], dtype=object)

## convert states -  only 3
## address, postcode, state, property_valuation

In [95]:
#sns.histplot(customer_address)

In [96]:
customers = pd.merge(customer_demographic, customer_address, how='inner', on='customer_id')

In [97]:
transactions.drop(columns=['transaction_id', 'product_id', 'transaction_date', 'online_order', 'order_status', 'product_first_sold_date'], axis=1, inplace=True)

In [98]:
transactions.head(3)

,customer_id,brand,product_line,product_class,product_size,list_price,standard_cost
0,2950,Solex,Standard,medium,medium,71.49,53.62
1,3120,Trek Bicycles,Standard,medium,large,2091.47,388.92
2,402,OHM Cycles,Standard,low,medium,1793.43,248.82

In [104]:
transactions = transactions.groupby('customer_id')

In [99]:
customers = pd.merge(customers, transactions, how='inner', on='customer_id')

In [100]:
customers.head(3)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,...,postcode,state,country,property_valuation,brand,product_line,product_class,product_size,list_price,standard_cost
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2016,New South Wales,Australia,10,OHM Cycles,Standard,medium,medium,235.63,125.07
1,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2016,New South Wales,Australia,10,Solex,Standard,medium,medium,1577.53,826.51
2,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2016,New South Wales,Australia,10,Trek Bicycles,Road,low,small,1720.70,1531.42

## clean customers

In [101]:
customers.drop(columns=['first_name', 'last_name', 'job_title','default','address','country'], axis=1, inplace=True)

In [102]:
customers.set_index('customer_id', inplace=True)

In [27]:
customers.dropna(inplace=True)

In [103]:
customers.head(10)

,gender,past_3_years_bike_related_purchases,DOB,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,postcode,state,property_valuation,brand,product_line,product_class,product_size,list_price,standard_cost
customer_id,,,,,,,,,,,,,,,,,
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,OHM Cycles,Standard,medium,medium,235.63,125.07
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,Solex,Standard,medium,medium,1577.53,826.51
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,Trek Bicycles,Road,low,small,1720.70,1531.42
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,Norco Bicycles,Standard,medium,medium,360.40,270.30
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,Solex,Standard,medium,medium,71.49,53.62
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,Giant Bicycles,Road,medium,medium,1538.99,829.65
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,Norco Bicycles,Mountain,low,small,688.63,612.88
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,Giant Bicycles,Standard,medium,medium,230.91,173.18
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,Giant Bicycles,Standard,medium,medium,642.70,211.37
1,F,93,1953-10-12,Health,Mass Customer,N,Yes,11.0,2016,New South Wales,10,OHM Cycles,Road,medium,medium,742.54,667.40

In [50]:
customers['gender'] = customers['gender'].apply(lambda x:x[0].upper())

from datetime import datetime, timedelta
customers ['age'] = (datetime.now() - customers ['DOB']).apply(lambda x: x.days/365.25)

customers ['state'] = customers ['state'].apply(lambda x: x[0].upper())

customers = customers.drop('DOB', axis=1)

KeyError: 'gender'

In [29]:
customers = pd.get_dummies(data= customers, columns=['gender','job_industry_category', 'wealth_segment', 
                                                     'deceased_indicator', 'owns_car', 'state', 'brand','product_line','product_class','product_size',], drop_first=True)

In [30]:
customers = customers.groupby(level=0, as_index=True, dropna=True).mean()

In [31]:
customers.head(10)

,past_3_years_bike_related_purchases,tenure,postcode,property_valuation,list_price,standard_cost,age,gender_M,gender_U,job_industry_category_Entertainment,...,brand_Solex,brand_Trek Bicycles,brand_WeareA2B,product_line_Road,product_line_Standard,product_line_Touring,product_class_low,product_class_medium,product_size_medium,product_size_small
customer_id,,,,,,,,,,,,,,,,,,,,,
1,93.0,11.0,2016.0,10.0,825.859091,551.487273,69.338809,0.0,0.0,0.0,...,0.181818,0.090909,0.000000,0.272727,0.636364,0.000000,0.181818,0.727273,0.818182,0.181818
2,81.0,16.0,2153.0,10.0,1383.023333,640.936667,42.160164,1.0,0.0,0.0,...,0.000000,0.000000,0.666667,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000
4,33.0,7.0,4211.0,9.0,523.860000,413.575000,61.363450,1.0,0.0,0.0,...,0.500000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.500000,0.000000
6,35.0,13.0,3216.0,9.0,1186.338000,397.028000,56.410678,1.0,0.0,0.0,...,0.000000,0.200000,0.400000,0.000000,1.000000,0.000000,0.000000,0.800000,0.800000,0.000000
7,6.0,11.0,2210.0,9.0,331.793333,258.423333,46.973306,0.0,0.0,0.0,...,0.000000,0.333333,0.333333,0.000000,0.666667,0.000000,0.333333,0.666667,1.000000,0.000000
9,97.0,8.0,2023.0,12.0,892.925000,500.740000,49.930185,0.0,0.0,0.0,...,0.500000,0.000000,0.166667,0.166667,0.833333,0.000000,0.166667,0.666667,0.833333,0.000000
11,99.0,9.0,3044.0,8.0,1129.906667,523.433333,68.791239,1.0,0.0,0.0,...,0.166667,0.000000,0.500000,0.000000,0.666667,0.333333,0.000000,0.666667,0.833333,0.166667
12,58.0,8.0,4557.0,4.0,913.458571,407.740000,28.566735,1.0,0.0,0.0,...,0.142857,0.000000,0.142857,0.142857,0.857143,0.000000,0.000000,0.857143,0.571429,0.142857
13,38.0,8.0,3799.0,6.0,1104.962857,485.337143,67.994524,1.0,0.0,0.0,...,0.285714,0.142857,0.285714,0.142857,0.571429,0.285714,0.000000,0.857143,0.428571,0.142857
14,85.0,6.0,2760.0,8.0,836.463333,265.163333,39.890486,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.333333,0.666667,0.666667,0.333333

In [32]:
from sklearn.model_selection import train_test_split

In [41]:
X = customers.drop(['past_3_years_bike_related_purchases'], axis=1)
y = customers['past_3_years_bike_related_purchases']

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [43]:
from sklearn.tree import DecisionTreeClassifier

In [44]:
dtc = DecisionTreeClassifier()

In [45]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [46]:
pred = dtc.predict(X_test)

In [47]:
from sklearn.metrics import classification_report, confusion_matrix

In [48]:
print(classification_report(pred, y_test))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00         4
         1.0       0.10      0.14      0.12         7
         2.0       0.00      0.00      0.00        14
         3.0       0.00      0.00      0.00         7
         4.0       0.00      0.00      0.00        17
         5.0       0.00      0.00      0.00        10
         6.0       0.00      0.00      0.00        12
         7.0       0.12      0.17      0.14         6
         8.0       0.00      0.00      0.00         2
         9.0       0.00      0.00      0.00        10
        10.0       0.00      0.00      0.00        12
        11.0       0.00      0.00      0.00         3
        12.0       0.00      0.00      0.00         6
        13.0       0.00      0.00      0.00         9
        14.0       0.00      0.00      0.00        12
        15.0       0.00      0.00      0.00        17
        16.0       0.07      0.14      0.09         7
        17.0       0.00      0.00      0.00        10
        18.0       0.00      0.00      0.00         9
        19.0       0.00      0.00      0.00        14
        20.0       0.00      0.00      0.00         9
        21.0       0.00      0.00      0.00         3
        22.0       0.00      0.00      0.00        11
        23.0       0.00      0.00      0.00         5
        24.0       0.00      0.00      0.00         3
        25.0       0.00      0.00      0.00        13
        26.0       0.11      0.14      0.12         7
        27.0       0.00      0.00      0.00        20
        28.0       0.00      0.00      0.00         5
        29.0       0.00      0.00      0.00        14
        30.0       0.00      0.00      0.00         3
        31.0       0.00      0.00      0.00         4
        32.0       0.00      0.00      0.00         9
        33.0       0.12      0.05      0.07        20
        34.0       0.00      0.00      0.00        10
        35.0       0.00      0.00      0.00        12
        36.0       0.00      0.00      0.00         8
        37.0       0.00      0.00      0.00         5
        38.0       0.11      0.07      0.08        15
        39.0       0.00      0.00      0.00        10
        40.0       0.00      0.00      0.00        15
        41.0       0.00      0.00      0.00        10
        42.0       0.00      0.00      0.00         5
        43.0       0.00      0.00      0.00         3
        44.0       0.00      0.00      0.00         7
        45.0       0.12      0.17      0.14         6
        46.0       0.00      0.00      0.00        12
        47.0       0.00      0.00      0.00         3
        48.0       0.00      0.00      0.00        21
        49.0       0.00      0.00      0.00         8
        50.0       0.00      0.00      0.00         3
        51.0       0.25      0.18      0.21        11
        52.0       0.00      0.00      0.00        10
        53.0       0.00      0.00      0.00        15
        54.0       0.00      0.00      0.00        11
        55.0       0.00      0.00      0.00         3
        56.0       0.00      0.00      0.00        12
        57.0       0.00      0.00      0.00        12
        58.0       0.00      0.00      0.00         1
        59.0       0.00      0.00      0.00        16
        60.0       0.00      0.00      0.00        11
        61.0       0.00      0.00      0.00         7
        62.0       0.00      0.00      0.00        12
        63.0       0.00      0.00      0.00         7
        64.0       0.00      0.00      0.00         7
        65.0       0.00      0.00      0.00         6
        66.0       0.09      0.10      0.10        10
        67.0       0.00      0.00      0.00        12
        68.0       0.00      0.00      0.00        10
        69.0       0.00      0.00      0.00         8
        70.0       0.00      0.00      0.00        12
        71.0       0.00      0.00      0.00         9
        72.0       0.11      0.08      0.10        12
        73.0       0.08      0.04      0.05        25
        74.0       0.00      0.00      0.00         9
        75.0       0.00      0.00      0.00        13
        76.0       0.00      0.00      0.00         3
        77.0       0.00      0.00      0.00         7
        78.0       0.00      0.00      0.00         6
        79.0       0.00      0.00      0.00        19
        80.0       0.07      0.07      0.07        14
        81.0       0.00      0.00      0.00         3
        82.0       0.00      0.00      0.00         2
        83.0       0.00      0.00      0.00         7
        84.0       0.00      0.00      0.00         3
        85.0       0.00      0.00      0.00         9
        86.0       0.00      0.00      0.00         9
        87.0       0.00      0.00      0.00         6
        88.0       0.00      0.00      0.00         9
        89.0       0.00      0.00      0.00        15
        90.0       0.00      0.00      0.00         7
        91.0       0.00      0.00      0.00         2
        92.0       0.00      0.00      0.00         4
        93.0       0.12      0.06      0.08        17
        94.0       0.12      0.07      0.09        14
        95.0       0.00      0.00      0.00         8
        96.0       0.00      0.00      0.00        16
        97.0       0.00      0.00      0.00        13
        98.0       0.09      0.07      0.08        15
        99.0       0.00      0.00      0.00         6

    accuracy                           0.02       942
   macro avg       0.02      0.02      0.02       942
weighted avg       0.02      0.02      0.02       942

In [49]:
print(confusion_matrix(pred, y_test))

[[0 0 0 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 [0 0 0 ... 0 1 0]
 ...
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 1 0]
 [1 0 0 ... 0 0 0]]